
    <style type="text/css">
    * {
      font-family: Arial; font-size: 16px; margin-left: 40px; margin-top:20px; background-color: #CCFFCC; text-decoration: none; 
      padding: 0px;
    }
    </style>

    <ul id="todo-list" class="unstyled">
      <% @items.each do |item| %>
      <li id="<%= item[:id] %>">
      <span class="item">
      <%= item[:done] ? "<del>#{item[:content]}</del>" : item[:content] %>
      </span>
      <span class="pull-right">
    
      <a href="/delete/<%= item[:id] %>" class="btn btn-danger">Delete</a>
      </span>
      </li>
      <% end %>
    </ul>


    <form action="/todolist" class="form-inline" method="POST">
      <input type="text" placeholder="Todo item" name="content">
      <button type="submit" class="btn">Post</button>
    </form>


